
body {
    /*Propiedades de dirección*/
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 12rem;
    background-color: rgb(139, 217, 195);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;

    
}
.division {
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav {
    width: 30%;
    height: 51rem;
    background-color: rgb(235, 228, 159);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.recuadros {
  display: flex;
  width: 75%;
  height: 51rem;
  padding: 0.5rem;
  background-color: rgb(147, 183, 128);

}
 
div {
  flex: 1;
  margin: 0.5rem;
  padding: 2rem;
  font-size: 2rem;
  width: 50%;
  height: 50vh;
  background-color: rgb(228, 163, 187);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
}

footer{
    width: 100%;
    height: 20rem;
    background-color: rgb(181, 141, 192);
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }